{% extends "base.html" %}
{% block title %}
    Client Orders
{% endblock %}

{% block content %}
        <h1>Order Information</h1>
        <div><a href="{% url 'order_new' pk=clientId %}"><span
                class="btn btn-primary" style="float: right;">New Order</span></a>
        </div><br><br><br><br>
        <h3 style="color:forestgreen; font-weight: bold; font-size: 20px;">Past Orders</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Item Description</th>
                <th>Requested Quantity</th>
                <th>Delivered Quantity</th>
                <th>Date Entered</th>
            </tr>
            </thead>
        {% for order in order %}
            <tbody>
            <tr>
                <td>{{ order.item_description.item_description }}</td>
                <td>{{ order.request_quantity }}</td>
                <td>{{ order.delivered_quantity }}</td>
                <td>{{ order.date }}</td>
            </tr>
            </tbody>
        {% endfor %}
        </table>
{% endblock %}