
{% block content %}
    <h1>Orders</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>client</th>
                <th>UPS code</th>
                <th>Item Description</th>
                <th>Requested Quantity</th>
                <th>Delivered Quantity</th>
                <th>Date Entered</th>

            </tr>
        </thead>
        <tbody>
        {% for order in order %}
            <tr>
                <td>{{ order.client.first_name }} {{ order.client.last_name }}</td>
                <td>{{ order.UPScode.UPScode }}</td>
                <td>{{ order.item_description.item_description }}</td>
                <td>{{ order.request_quantity }}</td>
                <td>{{ order.delivered_quantity }}</td>
                <td>{{ order.date.created_date }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}